@import "custom-select.css";


 /*Custom alert styles.*/
.alert {
    width: 70%;
    max-width: 360px;
    padding-top: 8px;
    margin: 0 auto;
    border: 2px solid lightgrey;
    border-radius: 8px;
    position: fixed;
    background-color: var(--main-contrast-color);
    color: var(--inner-contrast-color);
    left: 50%;
    box-shadow: 2px 2px 4px rgb(66, 66, 66);
    z-index: 3;
    transform: translate(-50%, -100%);
    -webkit-transform: translate(-50%, -100%);
    -moz-transform: translate(-50%, -100%);
    -ms-transform: translate(-50%, -100%);
    transition: transform 0.550s ease-in-out;
    -webkit-transition: transform 0.550s ease-in-out;
    -moz-transition: transform 0.550s ease-in-out;
}

.alert > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 8px 6px 8px;
    border-bottom: 1px solid var(--inner-contrast-color);
}

.alert h2 {
    font-size: 16px;
}

.alert .alert-closer {
    display: block;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    outline: none;
    height: 20px;
    width: 20px;
    position: relative;
}

.alert .alert-closer span {
    position: absolute;
    top: 9px;
    left: 25%;
    height: 2px;
    width: 70%;
    background-color: var(--inner-contrast-color);
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
}

.alert .alert-closer:hover > span {
    background-color: rgb(140, 140, 140);
}

.alert .alert-closer span:last-child {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
}

.alert > p {
    margin: 10px 0px;
    padding: 0 8px;
}


 /*Main content styles.*/
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3px;
    width: 80%;
    max-width: 650px;
    margin: 25px auto 5px auto;
}

main > input::placeholder {
    color: var(--inner-contrast-color)
}

main > input:first-child {
    text-indent: 5px;
    width: 100%;
    height: 33px;
    outline: none;
    border-radius: 5px;
    border: 2px solid var(--inner-contrast-color);
    color: var(--inner-contrast-color);
    background-color: var(--main-contrast-color);
    transition: border 0.1s ease;
    -webkit-transition: border 0.1s ease;
    -moz-transition: border 0.1s ease;
}

main > input:first-child:focus {
    border: 2px solid #535DD1;
}

main > .conversion-result {
    width: 80%;
    display: block;
    margin-left: 20px;
    outline: none;
    justify-self: center;
    border: none;
    border-bottom: 2px solid var(--inner-contrast-color);
    background-color: var(--main-contrast-color);
    color: var(--inner-contrast-color);
    text-align: center;
}

main > section {
    padding: 8px;
    grid-column: span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 6px;
}

main .fa-sync-alt {
    display: block;
    color: #535DD1;
    font-size: 20px;
    cursor: pointer;
    padding: 3px;
    margin: 0px 9px;
    -webkit-tap-highlight-color: rbga(0, 0, 0, 0);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
}

main > section + div {
    position: relative;
    grid-column: span 2;
    justify-self: center;
}

main .essential-currency-conversion {
    padding-top: 14px;
    text-align: center;
    overflow-wrap: break-word;
    color: var(--inner-contrast-color);
    font-size: 14px;
}

main .currency-underline {
    display: block;
    position: absolute;
    height: 2px;
    width: 0px;
    left: 50%;
    background-color: #535DD1;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transition: width 0.5s ease;
    -webkit-transition: width 0.5s ease;
    -moz-transition: width 0.5s ease;
}

main .essential-currency-conversion span {
    color: #535DD1;
    font-weight: 700;
    font-size: 18px;
}


 /*Adtional infos styles.*/
.addtional-infos {
    margin: 20px auto 16px auto;
    width: 80%;
    max-width: 550px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 16px;
}

.addtional-infos i {
    color: var(--inner-contrast-color);
    font-size: 18px;
    display: inline-block;
    margin-left: 12px;
}

.addtional-infos > div,
.addtional-infos > article {
    border: 2px solid var(--inner-contrast-color);
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    padding: 8px;
    background-color: var(--next-contrast-color);
}

.addtional-infos .space-between-title-and-icon {
    display: flex;
    justify-content: space-between;
}

.addtional-infos h2 {
    color: var(--inner-contrast-color);
    font-size: 18px;
    font-weight: 500;
    display: inline-block
}

.addtional-infos h2::after {
    content: '';
    display: block;
    height: 1px;
    width: 30%;
    background-color: var(--inner-contrast-color);
}

.addtional-infos p {
    margin-top: 10px;
    color: var(--inner-contrast-color);
}

.addtional-infos .padding-margin {
    margin-top: 10px;
    padding-left: 1px;
}

.addtional-infos p span {
    margin-left: 8px;
    box-shadow: 0px 2px 0px 0px rgb(45, 31, 167);
    transition: box-shadow 0.3s ease;
    -webkit-transition: box-shadow 0.3s ease;
    -moz-transition: box-shadow 0.3s ease;
}

.addtional-infos > article {
    grid-column: span 2;
}

.addtional-infos > article p {
    padding-bottom: 1px;
}

.addtional-infos div:last-child {
    margin: 14px auto 4px auto;
    width: 80%;
    border: none;
    border-radius: 0px;
    padding: 4px 4px 6px 4px;
    border-bottom: 2px solid var(--inner-contrast-color);
    grid-column: span 2;
    text-align: center;
    color: var(--inner-contrast-color);
}

.addtional-infos a {
    text-decoration: none;
    color: var(--inner-contrast-color);
    display: inline-block;
    font-weight: 500;
    color: #535DD1;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.addtional-infos a::after {
    content: '';
    height: 2px;
    display: block;
    width: 0%;
    background-color: #535DD1;
    transition: width 0.2s ease;
    -webkit-transition: width 0.2s ease;
    -moz-transition: width 0.2s ease;
}

.addtional-infos a:hover::after {
    width: 100%;
}


 /*Custom select styles.*/
.custom-select {
    width: 100%;
    margin-top: 5px;
}

.custom-select > div:first-child {
    min-height: 32px;
}

.custom-select > div:nth-child(1),
.custom-select > div:nth-child(2),
.custom-select > div:nth-child(2) > div {
    border: 2px solid var(--inner-contrast-color);
    color: var(--inner-contrast-color);
    background-color: var(--main-contrast-color);
}

.custom-select > div:nth-child(2)::-webkit-scrollbar {
    width: 10px;
}

.custom-select > div:nth-child(2)::-webkit-scrollbar-track {
    background-color: var(--main-contrast-color);
}

.custom-select > div:nth-child(2)::-webkit-scrollbar-thumb {
    background-color: rgb(160, 154, 154);
    min-height: 20px;
}

.custom-select > div:nth-child(2)::-webkit-scrollbar-thumb:hover {
    background-color: rgb(107, 103, 103);
}

.custom-select .custom-x-simbol div {
    background-color: var(--inner-contrast-color)
}

.custom-select .filter-box {
    background-color: var(--main-contrast-color);
    border: none;
    color: var(--inner-contrast-color);
}

.custom-select > div:nth-child(2) > ul > li:active {
    background-color: var(--active-color)
}

.custom-select .filter-box::placeholder {
    color: var(--inner-contrast-color);
}


 /*JavaScript classes.*/
.active-custom-alert {
    transform: translate(-50%, 25px);
    -webkit-transform: translate(-50%, 25px);
    -moz-transform: translate(-50%, 25px);
    -ms-transform: translate(-50%, 25px);
}

.display-none {
    display: none;
}


@media (min-width: 650px) {
    .custom-select > div:last-child {
        max-height: 160px;
    }
}

@media (max-width: 550px) and (min-width: 518px) {
    .addtional-infos > div:first-child {
        height: 112.5px;
    }
}

@media (max-width: 533px) {
    main > section {
        display: grid;
        grid-template-columns: 1fr;
    }

    main > section > div:nth-child(2) {
        padding: 6px;
        text-align: center;
    }

    main .fa-sync-alt {
        display: inline;
    }

    .disable-option-container {
        opacity: 0;
        pointer-events: none;
        overflow: hidden;
    }
}

@media (max-width: 388px) {
    .addtional-infos > div {
        grid-column: span 2;
    }
}

@media (max-width: 185px) {
    .addtional-infos .space-between-title-and-icon h2 {
        order: 2;
    }

    .addtional-infos .space-between-title-and-icon {
        flex-direction: column;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
    }

    .addtional-infos .far {
        display: block;
    }
}
