.custom-select {
    width: 45%;
    position: relative;
}

 /*Selected option contaiener styles.*/
.custom-select > div:first-child {
    padding: 4px 6px;
    display: flex;
    border: solid #000000;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.custom-select .chevron {
    margin-left: 4px;
    transition: transform 0.2s ease-in-out;
}

.custom-select .fa-chevron-down {
    font-size: 14px;
}

 /*Options and input filter container styles.*/
.custom-select > div:last-child {
    border: solid #000000;
    position: relative;
    max-height: 112px;
    margin-top: 4px;
    border-radius: 5px;
    position: absolute;
    width: 100%;
    overflow: auto;
    z-index: 2;
    transition: opacity 0.2s ease;
}


 /*Input filter and custom-x-simbol wrapper styles.*/
.custom-select > div:last-child > div {
    margin: 6px auto 4px auto;
    width: 90%;
    height: 26px;
    border: solid black;
    border-radius: 5px;
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 19px;
    align-items: center;
    justify-items: center;
    transition: border 0.1s ease;
    -webkit-transition: border 0.1s ease;
    -moz-transition: border 0.1s ease;
    -ms-transition: border 0.1s ease;
}

.custom-select > div:last-child input {
    outline: none;
    width: 100%;
    height: 100%;
    padding-left: 3px;
}

.custom-select .custom-x-simbol {
    position: relative;
    width: 100%;
    height: 100%;
    transition: opacity 0.1s ease;
}

.custom-select .custom-x-simbol > div {
    height: 1px;
    width: 70%;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: rotate(45deg);
}

.custom-select .custom-x-simbol > div:last-child {
    transform: rotate(-45deg)
}

 /*All options styles.*/
.custom-select ul li {
    list-style: none;
    display: block;
    height: 24px;
    padding: 1px 0px 0px 8px;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    cursor: default;
}

.custom-select > div:last-child > ul > li:active {
    background-color: #D9F1EA;
}


 /*JavaScript classes.*/
.rotate-chevron {
    transform: rotate(180deg);
}

.disable-option-container {
    opacity: 0;
    pointer-events: none;
    overflow: hidden;
}

.hide-input-reseter {
    opacity: 0;
    pointer-events: none;
}

.hide-option {
    display: none;
}
